<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>Dashboard Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            div#salas {
                overflow: scroll;
            }
            div.sala > div.panel {
                cursor: pointer;
                margin-top: 8px;
            }
            div.sala-body {
                max-height: 280px;
                overflow: scroll;
            }
            div.sala-selecionada > div.panel {
                -webkit-box-shadow: 0 0 5px 6px rgba(0, 0, 0, .4);
                box-shadow: 0 0 5px 6px rgba(0, 0, 0, .4);
            }
            div.sala-selecionada > div.panel > div.panel-heading {
                background-color: #C9C9C9;
            }
            .nav-sidebar > li > div.panel {
                margin-right: 20px;
                margin-left: 20px;
            }
            div.panel-success > div.panel-body {
                background-color: #dff0d8;
            }
            div.panel-info > div.panel-body {
                background-color: #d9edf7;
            }
            div.panel-warning > div.panel-body {
                background-color: #fcf8e3;
            }
            div.panel-danger > div.panel-body {
                background-color: #f2dede;
            }
            .hidden {
                display: none;
            }
        </style>
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Painel de Controle</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Profile</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Filtros</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            <li><span class="label label-danger">Crítico</span> <p>O módulo detectou uma situação crítica (ex.: temperatura acima do especificado para a sala)</p></li>
                            <li><span class="label label-warning">Falha de Operacão</span> <p>O módulo falhou. Pode ter ocorrido por problema da rede, problema no módulo e outros motivos.</p> </li>
                            <li><span class="label label-success">Ativo</span> <p>O módulo está operando normalmente, dentro dos limites de operação.</p></li>
                            <li><span class="label label-info">Aguardando definição</span> <p>As condições de operação ainda não foram definidas para a sala em que o módulo está contido. Esses módulos nunca alertarão para uma situação de risco, já que eles não sabem as condições de operação que devem esperar.</p></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li>
                            <a href="#" style="color: #727272">
                                Filtrar por módulo:
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                                     <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="#"><span class="label label-danger">Crítico</span></a></li>
                        <li><a href="#"><span class="label label-warning">Falha de Operacão</span></a></li>
                        <li><a href="#"><span class="label label-success">Ativo</span></a></li>
                        <li><a href="#"><span class="label label-info">Aguardando definição</span></a></li>
                    </ul>
                    <ul class="nav nav-sidebar condicoes">
                        {% for sala in salas %}
                        <li class="hidden" id="condicoes-sala-{{ sala.id }}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Condições de operação para sala <a href={{ sala.link_to_mapa }}>{{ sala.label }}</a>
                                    </h3>
                                </div>
                                <div class="panel-body sala-body">
                                    <ul class="list-unstyled">
                                        {% for sensor, valores in sala.condicoes_operacao %}
                                        <li>
                                        {{ sensor }} : {{ valores }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    <div class="row placeholders" id="salas">
                        {% for sala in salas %}
                        <div class="col-xs-6 col-sm-3 placeholder sala {{ sala.html_class }}" id="sala-{{ sala.id }}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a href={{ sala.link_to_mapa }}>{{ sala.label }}</a>
                                    </h3>
                                </div>
                                <div class="panel-body sala-body">
                                    <ul class="list-unstyled">
                                        {% for modulo in sala.modulos %}
                                        <li>
                                            <div class="panel {{ modulo.estado.html_class }}">
                                                <div class="panel-heading">{{ modulo.label }}</div>
                                                <div class="panel-body">
                                                    <ul class="list-unstyled">
                                                        {% for sensor in modulo.sensores %}
                                                        <li class="sensor-{{ sensor.estado.html_class }}">
                                                        {{ sensor.nome }}: {{ sensor.valor}}
                                                        </li>
                                                        {% endfor %}
                                                      </ul>
                                                </div>
                                            </div>
                                        </li>
                                        {% empty %}
                                        <h5><span class="label label-info">Aviso</span> Esta sala não possui módulos cadastrados. Você deve cadastrá-los <a href="#">aqui</a></h5>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h3><span class="label label-info">Aviso</span> Não foram encontradas salas no sistema</h3>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
        <script type="text/javascript">

            var Sala = {
                show_condicoes: function(sala_id) {
                    $('#' + sala_id).addClass('sala-selecionada');
                    $( "body" ).data('sala-selecionada', sala_id);
                    var condicoes_id = "#condicoes-" + sala_id;
                    $(condicoes_id).removeClass('hidden');
                },
                hide_condicoes: function(sala_id) {
                    $('#' + sala_id).removeClass('sala-selecionada');
                    var condicoes_id = "#condicoes-" + sala_id;
                    $(condicoes_id).addClass('hidden');
                    $( "body" ).data('sala-selecionada', null);
                }
            };

            $("div.sala").click(function(){
                var sala_id = $(this).attr('id');
                Sala.show_condicoes(sala_id);
            });
            $(document).mouseup(function (e){
                var sala_id = $( "body" ).data('sala-selecionada');
                if (!sala_id) return false;
                var container_1 = $('#' + sala_id);
                // If the target of the click isn't the container
                // ... nor a descendant of the container
                if (!container_1.is(e.target) && container_1.has(e.target).length === 0) {
                    Sala.hide_condicoes(sala_id);
                }
            });
        </script>
    </body>
</html>

